# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projectweek2\Projectweek-Week2\SpringProject\projectweek-team-22\ProjectWeek2-Team22\projectweek-team-22\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
